services:
  personal-website:
    container_name: personal-website
    image: johnbjohn/personal-website:latest
    restart: always
    volumes:
      - ./src:/app/src
      - ./astro.config.mjs:/app/astro.config.mjs
      - ./public:/app/public
      - ./tsconfig.json:/app/tsconfig.json
    ports:
      - 2389:2389
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 2G
    command: bunx -- bun run dev --host 0.0.0.0 --port 2389
