@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, lofi;
}

@import "@fontsource/share-tech-mono";
@import "@fontsource-variable/dm-sans";
@import '@fontsource-variable/newsreader';

:root {
  --font-body: 'DM Sans Variable', sans-serif;
  --font-heading: 'Newsreader Variable', serif;
  --font-monospace: 'Share Tech Mono', monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  scroll-margin-top: 80px;
}

.expressive-code {
  margin-top: calc(var(--spacing) * 5);
  margin-bottom: calc(var(--spacing) * 5);
}

.expressive-code .frame.is-terminal .output {
  background-color: #f0f0f0;
}

.expressive-code pre code .ec-line {
  font-family: var(--font-monospace);
}

div.expressive-code code::before,
div.expressive-code code::after {
  content: none;
}

code {
  font-family: var(--font-monospace);
}

code::before,
code::after {
  content: "`";
}

.table-wrapper {
  display: inline-block;
  overflow-y: auto;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

table tr th,
table tr td {
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding: 10px;
}

table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid #bbb;
}

table tr th {
  background: #eee;
  border-top: 1px solid #bbb;
  text-align: left;
}

table tr td {
  background: #fff;
}

/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: var(--radius-sm);
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: var(--radius-sm);
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: var(--radius-sm);
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: var(--radius-sm);
}

span.katex-display {
  overflow-x: scroll;
  overflow-y: hidden;
}