---
import type { MarkdownInstance } from "astro";
import type { Frontmatter } from "../types/frontmatter.ts"
import BaseLayout from "../layouts/BaseLayout.astro";
import ContentCard from "../components/ContentCard.astro";
import ExternalLink from "../components/ExternalLink.astro";
import Heading from "../components/Heading.astro"

const pageTitle = "Home";
const allPosts = Object.values(import.meta.glob<MarkdownInstance<Frontmatter>>("../content/posts/*.mdx", { eager: true })).slice(0, 3)
const allWorks = Object.values(import.meta.glob<MarkdownInstance<Frontmatter>>("../content/works/*.mdx", { eager: true })).slice(0, 3)
---

<BaseLayout pageTitle={pageTitle}>
  <div class="grid grid-col gap-10">
    <div class="grid grid-col">
      <Heading as="h1" size="2xl" weight="bold">Bijon Setyawan Raya</Heading>
      <div class="text-slate-600 text-lg">I make machines learn, and I write about it</div>
      <div>Get my resume <ExternalLink text="here" url="/resume.pdf" /></div>
    </div>

    <div class="grid grid-col gap-3">
      <Heading as="h2" size="lg">Selected Works</Heading>
      { allWorks.map((work) => <ContentCard frontmatter={work.frontmatter} type="works" />) }
      <a href="/works" class="w-fit underline">See more</a>
    </div>
    
    <div class="grid grid-col gap-3">
      <Heading as="h2" size="lg">Latest Posts</Heading>
      { allPosts.map((post) => <ContentCard frontmatter={post.frontmatter} type="posts" />) }
      <a href="/posts" class="w-fit underline">See more</a>
    </div>
  </div>
</BaseLayout>