---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContentCard from "../components/ContentCard.astro";
import ExternalLink from "../components/ExternalLink.astro";
import Heading from "../components/Heading.astro"
import { getSortedPosts, getSortedWorks } from "../utils/content.ts";

const pageTitle = "Home";
const pageDescription = "I make machines learn, and I write about it"
const posts = getSortedPosts().slice(0, 3);
const works = getSortedWorks().slice(0, 3);
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <div class="grid grid-col gap-10">
    <div class="grid grid-col">
      <Heading as="h1" size="2xl" weight="bold">Bijon Setyawan Raya</Heading>
      <div class="text-slate-600 text-lg">{ pageDescription }</div>
      <div>Get my resume <ExternalLink text="here" url="/resume.pdf" /></div>
    </div>

    <div class="grid grid-col gap-3">
      <Heading as="h2" size="lg">Selected Works</Heading>
      { works.map((work) => <ContentCard frontmatter={work.frontmatter} type="works" />) }
      <a href="/works" class="w-fit underline">See more</a>
    </div>
    
    <div class="grid grid-col gap-3">
      <Heading as="h2" size="lg">Latest Posts</Heading>
      { posts.map((post) => <ContentCard frontmatter={post.frontmatter} type="posts" />) }
      <a href="/posts" class="w-fit underline">See more</a>
    </div>
  </div>
</BaseLayout>
