---
import type { MarkdownInstance } from "astro";
import type { Frontmatter } from "../types/frontmatter.ts"
import BaseLayout from "../layouts/BaseLayout.astro";
import ContentCard from "../components/ContentCard.astro";

const pageTitle = "Posts";
const allPosts = Object.values(import.meta.glob<MarkdownInstance<Frontmatter>>("./content/posts/*.mdx", { eager: true }))
---

<BaseLayout pageTitle={pageTitle}>
  <div class="grid grid-col gap-5">
    {
      allPosts.map((post) =>
        <ContentCard content={post} />        
      )
    }
  </div>
</BaseLayout>

