---
import type { MarkdownInstance } from "astro";
import type { Frontmatter } from "../types/frontmatter.ts"
import BaseLayout from "../layouts/BaseLayout.astro";
import ContentCard from "../components/ContentCard.astro"

const pageTitle = "Works";
const allWorks = Object.values(import.meta.glob<MarkdownInstance<Frontmatter>>("./content/works/*.mdx", { eager: true }))
---

<BaseLayout pageTitle={pageTitle}>
  <div class="grid grid-col gap-5">
    {
      allWorks.map((work) =>
        <ContentCard content={work} />
      )
    }
  </div>
</BaseLayout>