---
const dateObject: object = {
    year: "numeric",
    month: "long",
    day: "numeric"
}

const { frontmatter, type } = Astro.props;
const slug = frontmatter.title.toLowerCase().replace(/ /g, '-');
---

<div>
    <div class="text-slate-400">{new Date(frontmatter.publishedDate).toLocaleDateString("en-US", dateObject)}</div>
    <a class="w-fit hover:underline decoration-slate-500 md:text-2xl text-xl" href=`${type}/${slug}`>
        {frontmatter.title}
    </a>
    <p class="text-md mt-auto text-slate-500">{frontmatter.description}</p>
</div>