---
import Heading from "@component/Heading.astro";
import { getSlugFromPath } from "@lib/string";

const dateObject: object = {
    year: "numeric",
    month: "long",
    day: "numeric",
};

const { path, frontmatter, type } = Astro.props;
const slug = getSlugFromPath(path);
---

<div>
    <Heading as="h3" size="sm" class="text-text-subtle">
        {
            new Date(frontmatter.publishedDate).toLocaleDateString(
                "en-US",
                dateObject,
            )
        }
    </Heading>
    <Heading as="h3" size="2xl">
        <a class="hover:underline" href={`/${type}/${slug}`}>
            {frontmatter.title}
        </a>
    </Heading>
    <p class="text-text-muted">{frontmatter.description}</p>
</div>
