---
import Heading from "./Heading.astro";

const dateObject: object = {
    year: "numeric",
    month: "long",
    day: "numeric"
}

const { frontmatter, type } = Astro.props;
const slug = frontmatter.title.toLowerCase().replace(/ /g, '-');
---

<div>
    <div class="text-slate-500">{new Date(frontmatter.publishedDate).toLocaleDateString("en-US", dateObject)}</div>
    <Heading as="h1" size="2xl">
        <a class="hover:underline" href=`/${type}/${slug}`>{frontmatter.title}</a>
    </Heading>
    <p class="text-md mt-auto text-slate-600">{frontmatter.description}</p>
</div>