---
import ExternalLinkIcon from "./ExternalLinkIcon.astro";
const { url, text } = Astro.props;
---

<a href={url} target="_blank" rel="noopener noreferrer" class="cursor-pointer">
    <span class="underline">{text}</span><ExternalLinkIcon />
</a>