---
import BurgerMenu from "./BurgerMenu.tsx";
---

<div class="flex pb-10">
  <div class="font-bold text-[1.5rem]">
    <a class="home" href="/">BSR</a>
  </div>
  <div class='flex ml-auto items-center'>
    <BurgerMenu client:load />
  </div>
</div></div>

<style>
  .home {
    font-family: var(--font-heading);
  }
</style>