---
import { slugify } from "../utils/string.ts";
import Heading from "../components/Heading.astro";

const { series, posts, currentPost } = Astro.props;
---

<div class="border border-2 rounded-md p-5 my-10">
    <Heading as="h3" size="xl" class="mb-2">{series} (Series)</Heading>
    <ol class="list-decimal flex flex-col gap-1">
        {
            posts.map((post: any) => (
                <li class:list={["ml-6", "text-lg", { "font-bold": currentPost === post.frontmatter.title }]}>
                    <a 
                        href={`/posts/${slugify(post.frontmatter.title)}`}
                        class="cursor-pointer hover:underline"
                    >
                        {post.frontmatter.title}
                    </a>
                </li>
            ))
        }
    </ol>
</div>